/*styling */
body {
  background-color: #d1d1d1;
  color: #111;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*this is for my navigation bar*/
nav {
  background-color: #e0e0e0;
  color: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 0 8px;
}

nav a:hover {
  color: #0007ac;
  text-decoration: underline;
}

/*the actual main content goes here */
main {
  padding: 24px;
}

/* this is just for the footer*/
footer {
  background-color: #444;
  color: rgba(255, 255, 255, 0.658);
  text-align: center;
  padding: 12px;
}
/*Quiz layout */
main {
  max-width: 750px;
  margin:24px auto;
  padding: 0 16px;
}

#quizform {
  background-color: #ffffff;
  border: 1px;
  padding: 16px;
  border-radius: 6px;
}

fieldset {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 5px;
}

#results {
  margin-top:  16px;
  background-color: #ffffff;
  border: 1px;
  padding: 16px;
  border-radius: 6px;
}