/*styling */
body {
  background-color: #f9f9f98e;
  color: #222;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*navigation*/
nav {
  background-color: #333030;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 8px;
}

nav a:hover {
  text-decoration: underline;
}

/*content goes here */
main {
  padding: 24px;
}

/* this is just 4 the footer*/
footer {
  background-color: #222;
  color: rgba(255, 255, 255, 0.658);
  text-align: center;
  padding: 12px;
}
